<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casey Kolodziejczyk</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>
        <div class="menu-toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li>
                    <a href="#portfolio" class="nav-link">Portfolio</a>
                </li>
                <li>
                    <a href="#experience" class="nav-link">Experience</a>
                </li>
                <li>
                    <a href="#contact" class="nav-link">Contact</a>
                </li>

            </ul>
        </nav>
        <div class="landing-text">
            <h1>Casey Kolodziejczyk</h1>
            <h6>Aspiring Software Developer</h6>
        </div>
    </header>

    <section class="about" id="about">
        <div class="section-heading">
            <h1>About Me</h1>
        </div>
        <div class="container">

            <div class="profile-img" data-aos="fade-right" data-aos-delay="300">
                <img src="../images/portitem3.jpeg" alt="">
            </div> 
             
            <div class="about-details" data-aos="fade-left" data-aos-delay="600">
              <!--
                <div class="about-heading">
                    <h1>About</h1>
                    <h6>Me</h6>
                </div> -->
                <p>
                        Hello! I'm Casey, a software developer based in Elgin, IL who enjoys building software.
                        I am a highly motivated, hands-on problem solver and an advocate for technological solutions.
                </p>
                <p>
                        After graduating from <a class="text-link" href="https://uiowa.edu/" target="_blank">The University of Iowa,</a> I spent time solving technical problems as an IT Technician.
                        I am now looking for opportunities to start my software development career.
                </p>

                <p>
                        Here's a few technologies I've been working with recently:
                </p>
                
                <ul class="tech-list">
                    <li>Python</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>HTML & CSS</li>
                    <li>JavaScript</li>
                    <li>Unity3D</li>
                </ul>
                
            </div>    
        </div>
        <div class="social-media" data-aos="fade-up" data-aos-delay="800">
            <ul class="nav-list">
                <li>
                    <a href="https://www.linkedin.com/in/casey-kolodziejczyk/" target="_blank" class="icon-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Caziejczyk" target="_blank" class="icon-link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/casey.kolodziejczyk" target="_blank" class="icon-link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Cazeck" target="_blank" class="icon-link">
                        <i class="fab fa-github-square"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:caseykolodziejczyk@gmail.com?Subject=Hello" target="_top" class="icon-link">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-heading">
                <h1>Portfolio</h1>
                <h6>View some of my recent work</h6>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-description has-margin-right" data-aos="fade-right" data-aos-delay="700">
                        <h6>Event-Driven Programming</h6>
                        <h1>Amazon Warehouse Simulation</h1>
                        <p>
                                Constructed a Python simulation of Amazon’s automated order fulfillment system using Object-Oriented Design concepts. 
                                Generated an event-based simulation in order to visualize and present the final design.
                        </p>

                        <p>
                            Created a full GUI using Tkinker but am currently working on converting it into an interactable web-app
                        </p>

                        <ul class="app-links">
                            <li>
                                <a href="warehouse.html" class="cta">View Project</a>            
                            </li>
                            <li>
                                <a href="https://github.com/Cazeck/AmazonSim" target="_blank" class="icon-link">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>                                                   
                        </ul> 
                    </div>
                <div class="portfolio-img" data-aos="fade-left" data-aos-delay="900">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qRQwkJLRfWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <img src="images/portitem2.jpeg" alt=""> -->
                </div>
                
            </div>
            <!--
            <div class="portfolio-item">
                <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="1100">
                    <img src="../images/uiowa.PNG" alt="">
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="1300">
                    <h6>STonks</h6>
                    <h1>Interactive Data Dashboard</h1>
                    <p>
                        Stonks.exe
                    </p>

                    <ul class="app-links">
                        <li>
                            <a href="https://github.com/Cazeck/Web-Crawler" target="_blank" class="icon-link">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>                                                   
                    </ul>
                
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-description has-margin-right" data-aos="fade-right" data-aos-delay="700">
                        <h6>Recent WarmUp Projects</h6>
                        <h1>Udemy class o</h1>
                        <p>
                                lorem
                                he final design.
                        </p>

                        <p>
                            Created a full GUI using Tkinker but am currently working on converting it into an interactable web-app
                        </p>

                        <ul class="app-links">
                            <li>
                                <a href="https://github.com/Cazeck/AmazonSim" target="_blank" class="icon-link">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>                                                   
                        </ul> 

                    </div>
                <div class="portfolio-img" data-aos="fade-left" data-aos-delay="900">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qRQwkJLRfWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
            </div>
-->
            <div class="portfolio-item">
                <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
                    <img src="../images/Weav 600.png" alt=""> 
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="500">
                    <h6>App Development</h6>
                    <h1>Space Weaver</h1>
                    <p>
                        Created a simple but difficult mobile game using C# and the Unity engine.
                        Developed for both Android and iOS.  
                    </p>
                    <p>
                        Is no longer on the app stores but am working on making playable version on itch.io
                    </p>
                 
                    <ul class="app-links">
                        <li>
                            <a href="#" class="cta">View Project</a>            
                        </li>
                        <li>
                            <a href="https://github.com/Cazeck/Space-Weaver" target="_blank" class="icon-link">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.TeamCazeck.Starweaver" target="_blank" class="icon-link">
                                <i class="fab fa-android"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.apple.com/us/app/id1436188634" target="_blank" class="icon-link">
                                <i class="fab fa-apple"></i>
                            </a>
                        </li>                                                    
                    </ul>            
                    
                    <!--<a href="#" class="cta">View Details</a> -->
                    
                </div>
            </div>
<!--
            <div class="portfolio-item">
                <div class="portfolio-description has-margin-right" data-aos="fade-right" data-aos-delay="700">
                        <h6>Object-Oriented Programming</h6>
                        <h1>Amazon Warehouse Simulation</h1>
                        <p>
                                Constructed a Java simulation of Amazon’s automated order fulfillment system using Object-Oriented Design concepts. 
                                Generated an event-based simulation in order to visualize and present the final design.
                        </p>

                        <ul class="app-links">
                            <li>
                                <a href="https://github.com/Cazeck/Amazon-Warehouse" target="_blank" class="icon-link">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>                                                   
                        </ul> 

                    </div>
                <div class="portfolio-img" data-aos="fade-left" data-aos-delay="900">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qRQwkJLRfWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>          
            </div>

-->            
            <div class="portfolio-item">
                <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="1100">
                    <img src="../images/uiowa.PNG" alt="">
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="1300">
                    <h6>Data Collection</h6>
                    <h1>Web Crawler</h1>
                    <p>
                        Created a web crawler that travels through a domain collecting all hyperlinks as it passes and stores the data.
                        This data was then used to study the uiowa domain as a social network.
                        Visualized using the Network X library.
                    </p>

                    <ul class="app-links">
                        <li>
                            <a href="#" class="cta">View Project</a>            
                        </li>
                        <li>
                            <a href="https://github.com/Cazeck/Web-Crawler" target="_blank" class="icon-link">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>                                                   
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="container">
            <div class="section-heading">
                <h1>Other Skills</h1>
                <!--<h6>More work that I have done</h6>-->
            </div>
            <div class="my-skills">
                <div class="skill" data-aos="fade-in" data-aos-delay="300">
                    <div class="icon-container">
                        <i class="fas fa-gamepad"></i>
                    </div>
                    <h1>Game Development</h1>
                    <p>
                        Continually learning and creating game mechanics using <a class="text-link" href="https://unity.com/" target="_blank">Unity.</a>
                    </p>
                </div>
                <div class="skill" data-aos="fade-in" data-aos-delay="600">
                    <div class="icon-container">
                        <i class="fas fa-code"></i>
                    </div>
                    <h1>Web Development</h1>
                    <p>
                        This website was one of the things created in my free time! 
                    </p>
                </div>
                <div class="skill" data-aos="fade-in" data-aos-delay="900">
                    <div class="icon-container">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <h1>Data Visualization</h1>
                    <p>
                        Creating graphical representations of information and data with <a class="text-link" href="https://www.tableau.com/" target="_blank">Tableau.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="experience" id="experience">
        <div class="container">
            <div class="section-heading">
                <h1>Work Experience</h1>
                <h6>Past and Current Jobs</h6>
            </div>
            <div class="timeline" data-aos="fade-down" data-aos-delay="300">
                <ul>
                    <li class="date" data-date="Apr 2019 - &#xa;Feb 2020   &#xa; (as needed)">
                        <h1>Administrative Assistant <a class="text-link" href="https://www.chaseandwerner.com/" target="_blank">@ Chase & Werner Law</a></h1>
                        <p>
                            Performed specialized secretarial and clerical tasks assisting the attorney                        </p>
                        <p>
                            Routed client calls, scheduled appointments, collected client information, and organized case files
                        </p>
                        <p>
                            Resolved technical issues for computers and office equipment                       
                        </p>
                    </li>
                    <li class="date" data-date="Aug 2017 - &#xa;Sept 2018   ">
                        <h1>IT Technician <a class="text-link" href="https://www.cubicleconcepts.com/" target="_blank">@ Cubicle Concepts</a></h1>
                        <p>
                            Maintained company’s computers and networking equipment through routine upgrades and troubleshooting
                        </p>
                        <p>
                            Installed and maintained an NVR security camera surveillance system
                        </p>
                        <p>
                            Implemented an RFID Security Access Control System enabling secure access into the building 
                        </p>
                        <p>
                            Created promotional video content using Apple Motion and Final Cut Pro software 
                        </p>
                    </li>
                    <li class="date" data-date="Summer 2016">
                        <h1>Funiture Installer <a class="text-link" href="https://www.cubicleconcepts.com/" target="_blank">@ Cubicle Concepts</a></h1>
                        <p>
                            Installed a wide variety of office furniture
                        </p>
                        <p>
                            Managed warehouse inventory and prepared orders for delivery
                        </p>
                        <p>
                            Inspected the quality of completed projects to ensure customer satisfaction
                        </p>
                    </li>
                    <!--
                    <li class="date" data-date="2002 - 2007">
                        <h1>Microsoft</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Cum assumenda odio veritatis magnam? Quod corporis illum tempora ab voluptatum nisi ipsum?
                        </p>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <div class="section-heading">
                <h1>Contact</h1>
                <h6>Get In Touch</h6>
            </div>

            <div class="contact-me" data-aos="fade-up" data-aos-delay="300">
                <p>
                        My inbox is always open.  I am open to all types of software developement opportunities.                        
                        Whether for a potential project or just to say hi, I'll try my best to answer your email!
                </p>
             
            <!--<form action="" data-aos="fade-up" data-aos-delay="300">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name..." required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email..." required>

                <label for="service">Services:</label>
                <select name="service" id="service">
                    <option value="">Web Design</option>
                    <option value="">Web Development</option>
                    <option value="">Web Design/Development</option>
                </select>

                <label for="subject">subject:</label>
                <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
                <input type="submit" value="Submit">
            </form> -->
                <form action="mailto:caseykolodziejczyk@gmail.com?Subject=Hello" method="">
                    <input type="submit" value="Say Hello">
                </form>
            </div>
        </div>
    </section>

    <footer class="copyright">
        <div class="up" id="up">
            <i class="fas fa-chevron-up"></i>
        </div>
        <p>&copy; 2021 Casey Kolodziejczyk</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../temp_js/main.js"></script>
</body>
</html>