<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amazon Warehouse Simulation</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/project.css">
</head>
<body>

    <div class="menu-toggler">
        <div class="bar half start"></div>
        <div class="bar"></div>
        <div class="bar half end"></div>
    </div>
    <nav class="top-nav">
        <ul class="nav-list">
            <li>
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li>
                <a href="index.html#about" class="nav-link">About</a>
            </li>
            <li>
                <a href="index.html#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li>
                <a href="index.html#experience" class="nav-link">Experience</a>
            </li>
            <li>
                <a href="index.html#contact" class="nav-link">Contact</a>
            </li>

        </ul>
    </nav>

    <section class="about" id="about">
        <div class="section-heading">
            <h1>Amazon Warehouse Simulation</h1>
            <h6>Sample Text</h6>
        </div>
        <div class="container">

            <div class="profile-img" data-aos="fade-up" data-aos-delay="300">
                <img src="../images/portitem3.jpeg" alt="">
            </div> 
             
            <div class="about-details" data-aos="fade-up" data-aos-delay="600">
                <p>
                    Constructed a Python simulation of Amazon’s automated order fulfillment system using Object-Oriented Design concepts. 
                    Generated an event-based simulation in order to visualize and present the final design.
                </p>
                <p>
                    TEEXT ALASLASLSALSASALLS interactable web-app
                </p>
                <p>
                    Here's a few technologies used within this project:
                </p>
                
                <ul class="tech-list">
                    <li>Python</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>HTML & CSS</li>
                    <li>JavaScript</li>
                    <li>Unity3D</li>
                </ul>

                <p>
                    Created a full GUI using Tkinker but am currently working on converting it into an interactable web-app
                </p>
            </div>    

            <div class="return" data-aos="fade-up" data-aos-delay="600">
                <a href="index.html#portfolio" class="return-link"> Return to Portfolio</a> 
            </div>
        </div>

    </section>

    <footer class="copyright">
        <p>&copy; 2021 Casey Kolodziejczyk</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../temp_js/main.js"></script>

</body>
</html>